.product {
    padding-top: 120px;
    padding-bottom: 168px;
}

.product-row {
    display: flex;
    justify-content: space-between;
}
.product-image-wrapper {
    margin-right: 86px;
    padding-left: 60px;
    padding-bottom: 74px;
    position: relative;
}

.product-image{
    border-radius: 18px;
}

.product-content {
    max-width: 584px;
}
.product-content-title {
    line-height: 157%;
    font-weight: 600;
    font-size: 25px;
}

.product-content-title + *{
    margin-top: 10px;
}
.product-content-subtitle {
    font-family: Georgia, serif;
    color: #01996D;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
}

.product-content-subtitle + *{
    margin-bottom: 20px;
}

.product-content-text{
    line-height: 144.5%; 
    max-width: 530px;
}

.product-content-text + *{
    margin-top: 40px;
}

@media (max-width: 1299px){
    .product{
        padding-top: 80px;
    }
    .product-image-wrapper{
        flex: 1 0 auto;
        flex-basis: 50%;
    }
    .product-content-subtitle{
        font-size: 40px;
        line-height: 130%;
    }

    .product-card{
        
        position: relative !important;
        z-index: 2;
        margin-top: -20%;
        display: flex;
        justify-content: center;  
    }
}

@media (max-width: 991px){
    .product{
        padding-top: 40px;
    }
    .product-row{
        flex-direction: column-reverse;
    }

    .product-content{
        margin-bottom: 40px;

    }
    .product-card{
        position: relative !important;
        z-index: 2;
        margin-top: -20%;
        display: flex;
        justify-content: center;        
    }

    .product-image-wrapper{
        padding: 0;
        margin: 0;
        text-align: center;
    }

}

@media (max-width: 500px){
    .product-card{
        margin-top: -30%;

        
    }
}